<table>
    <tr>
        <td><img src="https://github.com/user-attachments/assets/3f95fc8f-4f0a-4e98-a56b-fae8d5b37f77" height="60" title="Pair" alt=""></td>
        <td><a href="{{site.baseurl}}/inheritance">Introduction to Inheritance</a></td>
        <td><a href="{{site.baseurl}}/inheritance/superclass">9.1/9.2</a></td>
        <td><a href="{{site.baseurl}}/inheritance/override">9.3/9.4</a></td>
        <td><a href="{{site.baseurl}}/inheritance/hierarchies">9.5</a></td>
        <td><a href="{{site.baseurl}}/inheritance/poly-morphism">9.6</a></td>
        <td><a href="{{site.baseurl}}/inheritance/object-superclass">9.7</a></td>
        <td><a href="{{site.baseurl}}/inheritance-hacks">Hacks</a></td>
    </tr>
</table>